.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  color: #fff;
  font-size: 30px;
  font-family: 'Poppins', system-ui, sans-serif;
  text-align: center;
  font-weight: bolder;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 12px;
  background-color: #2e2d4e;
  max-width: 50%;
  width: 400px;
  margin-bottom: 15px;

  & button {
    border-radius: 30px;
    background-color: #8b8ae1;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
  }
  & button:hover {
    transition: 1.2s;

    opacity: 0.6;
  }

  & input {
    border: 1px solid #48456c;
    border-radius: 30px;
    height: 40px;
    background-color: #363653;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #2e2d4e;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;

  & p {
    color: #fff;
    font-weight: bold;

    & span {
      font-weight: normal;
    }
  }
  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  & button:hover {
    transition: .7s;
    opacity: .6;
    
  }
}
